.test {
  display: flex;
  word-break: break-all;
  hyphens: auto;

  .foo {
    display: flex;
  }
}

.foo {
  display: flex;
}

.bar {
  filter: grayscale(50%);
  object-fit: fill;
  appearance: none;
}

.channel-html {
  .z930b06 {
    margin-top: 40px
  }
}

.channel-html .fbc7bf9 {
  hyphens: auto;
}